<div class="filter-container">
  <span class="filter-title"
    ><img
      src="./assets/icons/24x24/filter.svg"
      alt=""
    />FilterBy</span
  >

  <span
    >Beer Styles<img src="./assets/icons/24x24/arow up.svg" alt=""
  /></span>
  <form [formGroup]="beerStyle">
    <ul>
      <li>
        <input formControlName="ipa" type="checkbox" />
        <label for="">IPA</label>
      </li>
      <li>
        <input formControlName="stout" type="checkbox" />
        <label for="">PORTER & STAUT</label>
      </li>
      <li>
        <input formControlName="lager" type="checkbox" />
        <label for="">LAGER & HELLES</label>
      </li>
      <li>
        <input formControlName="sour" type="checkbox" />
        <label for="">SOUR ALE & WILD ALE</label>
      </li>
      <li>
        <input formControlName="pale" type="checkbox" />
        <label for="">PALE ALE</label>
      </li>
    </ul>
  </form>
  <span
    >Method <img src="./assets/icons/24x24/arow up.svg" alt=""
  /></span>
  <form [formGroup]="methodForm">
    <ul>
      <li>
        <input
          type="checkbox"
          (change)="onSubmitMethod()"
          formControlName="mash_temp"
        />
        <label for="">Ahtanum</label>
      </li>
      <li>
        <input
          type="checkbox"
          (change)="onSubmitMethod()"
          formControlName="fermentation"
        /><label for="">Extra Pale</label>
      </li>
      <li>
        <input
          type="checkbox"
          (change)="onSubmitMethod()"
          formControlName="twist"
        /><label for="">Wyeast 1056 - American Ale™</label>
      </li>
    </ul>
  </form>

  <span
    >Special Products
    <img src="./assets/icons/24x24/arow up.svg" alt=""
  /></span>
  <form [formGroup]="specialForm">
    <ul>
      <li>
        <input formControlName="special" type="checkbox" /><label for="">
          OFFERS</label
        >
      </li>
    </ul>
  </form>
  <span
    >Alcohol range <img src="./assets/icons/24x24/arow up.svg" alt=""
  /></span>
  <form [formGroup]="abvForm" (ngSubmit)="onSubmitAbv()">
    <div class="bottom-button-group">
      <input type="text" formControlName="from" placeholder="from (%)" />
      <input type="text" formControlName="to" placeholder="until (%)" />
      <button type="submit">Apply</button>
    </div>
  </form>
  <div class="reset-group">
    <button class="reset-to-default" (click)="resetForms()">
      Reset to default
    </button>
  </div>
</div>
