.container {
  position: absolute;
  width: 1284px;
  height: 1585px;
  left: 80px;
  top: 421px;

  margin: auto;

  left: 0;
  right: 0;
}
.active-content {
  position: absolute;
  width: 1445px;
  height: 36px;
  left: 80px;
  right: 0;

  margin: auto;
  top: 329px;
}
