<header class="header">
  <!--  -->
  <div class="header_first_row">
    <ul class="header_first_row_contact">
      <img src="../../../assets/icons/16x16/communications.svg" alt="">
      <li>Contact</li>
    </ul>
    <ul class="header_second_row_language">
      <img src="../../../assets/icons/16x16/maps.svg" alt="">
      <li>EN</li>
      <img src="../../../assets/icons/16x16/arrow down.svg" alt="">
    </ul>
  </div>
  <div class="header__logo">
    <img src="../../../assets/navbar/beer-shop-logo.svg" alt="Logo" />
  </div>
  <div class="header_second_row">
    <app-searchbar></app-searchbar>
    <ul class="menu-items">
      <li><img class="menu-img" src="../../../assets/icons/24x24/user.svg" alt="">My Account</li>
      <li><img class="menu-img" src="../../../assets/icons/24x24/heart.svg" alt="">Wishlist (0)</li>
      <li><img class="menu-img" src="../../../assets/icons/24x24/compare.svg" alt="">Compare (0)</li>
      <li><img class="menu-img" src="../../../assets/icons/24x24/cart.svg" alt="">Cart (0)</li>
    </ul>
  </div>
  <div class="bottom_navigator">
    <ul class="navigator_ul">
      <li>All beer</li>
      <li>Packages</li>
      <li>Beer Gifts</li>
    </ul>
  </div>
</header>
