<div class="card">
  <div class="top-contents">
    <div class="header">
      <div class="badge-container">
        <app-new></app-new>
        <app-product-of-the-week></app-product-of-the-week>
      </div>
      <div class="icon-container-topside">
        <img src="./assets/icons/24x24/compare.svg" alt="" />
        <img
          src="./assets/icons/24x24/heart.svg"
          alt=""
          (click)="beerService.putToWishList(beer!)"
        />
      </div>
    </div>
    <div
      class="image-container"
      style="background: url({{image_url}})"
      (click)="selectedBeer(beer!)"
    ></div>
    <div class="description">
      <small>{{ contributor }}</small>
      <h5 (click)="selectedBeer(beer!)">{{ name }}</h5>
      <small>{{ tagline }}</small>
    </div>
  </div>
  <div class="bottom-contents">
    <!-- Bottom price, amount of liquid and add to cart button -->
    <div class="price-content">
      <h2>
        €{{ beerPrice }}
        <small>€{{ beerPrice! - beerPrice! / 1.5 | number: "1.2-2" }}</small>
      </h2>
      <p>Content <small>0.44 Liter</small></p>
    </div>
    <form [formGroup]="cartForm">
      <div class="button-container">
        <input formControlName="quantity" type="text" placeholder="1" />
        <button (click)="putToCart(beer!)">
          <img src="./assets/icons/24x24/cart.svg" alt="" />Add to
          cart
        </button>
      </div>
    </form>
  </div>
</div>
