<app-header></app-header>

<ul class="navigation" *ngIf="!beerService.navigatedToCart">
  <li>Home</li>
  <li><img src="../assets/icons/16x16/arrow right.svg" alt="" /></li>
  <li [class.active]="!beerService.selectedBeer" class="active" routerLink="allbeers" (click)="clearSelectedBeer()">All Beers</li>
  <li *ngIf="beerService.selectedBeer"><img src="../assets/icons/16x16/arrow right.svg" alt="" /></li>
  <li [class.active]="beerService.selectedBeer" *ngIf="beerService.selectedBeer">{{beerService.selectedBeer.name}}</li>
</ul>

<router-outlet></router-outlet>
