div {
  display: flex;

  padding: 1px 11px;
  gap: 10px;

  width: 47px;
  height: 25px;
  left: 20px;
  top: 110px;

  background: #5ab0bb;
  border-radius: 4px;
}
p {
  width: 23px;
  height: 20px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;

  color: #ffffff;
  margin: auto;
  left: 0;
  right: 0;
}
